@model IEnumerable<NexDevs.Models.User>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<div class="d-flex justify-content-between align-items-center my-3">
    <p class="m-0">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>

    <form asp-controller="Users" asp-action="Index" method="get">
        <div class="d-flex gap-3">
            <input type="text" class="form-control" name="search" placeholder="Search by First or Last name" id="inputDefault">
            <input type="submit" value="Search" class="btn btn-dark" />
        </div>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Province)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProfilePictureUrl)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProfileType)
            </th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.ProfilePictureUrl)
                </td>
                <td class="text-center">
                    @{
                        string profileType = "";
                        if (item.ProfileType == 'U')
                        {
                            profileType = "User";
                        }
                        if (item.ProfileType == 'A')
                        {
                            profileType = "Admin";
                        }
                    }
                    @profileType
                </td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-info btn-sm mt-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger btn-sm mt-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
