@model IEnumerable<NexDevs.Models.Collection>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Collections</h1>
<div class="d-flex justify-content-between align-items-center my-3">
    <p class="m-0">
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkId)
            </th>
            <th>@Html.DisplayNameFor(model => model.CollectionImageUrl)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CollectionImageUrl)
                </td>
                <td class="text-center">
                    <div class ="btn-group">
                        @Html.ActionLink("Edit", "Edit", new { id = item.CollectionId }, new { @class = "btn btn-outline-dark btn-sm" })
                        @Html.ActionLink("Details", "Details", new { id = item.CollectionId }, new { @class = "btn btn-outline-dark btn-sm" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.CollectionId }, new { @class = "btn btn-outline-dark btn-sm" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
