@model NexDevs.Models.WorkProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Work Profile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Province)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Province)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePictureUrl)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Model.ProfilePictureUrl" alt="Profile Picture" width="100" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileType)
        </dd>
    </dl>
</div>
<div class="form-group d-flex align-items-center mt-3 gap-3">
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkId }, new { @class = "btn btn-primary btn-sm" }) |
    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
</div>
